{% extends "atleta_app/base.html" %}

{% block title %}
Visualizar Atleta
{% endblock %}

{% block content %}
<div class="form-wrapper">
    <h1>Buscar Atleta</h1>
    <form method="get" action="{% url 'visualizarAtleta' %}">
        <div class="form-group">
            <label for="cpf">Digite o CPF do Atleta:</label>
            <input type="text" id="cpf" name="cpf" placeholder="000.000.000-00" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="O CPF deve estar no formato xxx.xxx.xxx-xx" required />
        </div>
        <button type="submit" class="btn">Buscar</button>
    </form>

    {% if error_message %}
    <div class="message error">{{ error_message }}</div>
    {% endif %}
</div>

{% if atleta %}
<div class="table-wrapper">
    <h1>Informações do Atleta</h1>
    <div class="responsive-table">
        <table class="atleta-table">
            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">Nome</th>
                    <th class="table-header">CPF</th>
                    <th class="table-header">Idade</th>
                    <th class="table-header">Altura</th>
                    <th class="table-header">Peso</th>
                    <th class="table-header">Clube</th>
                    <th class="table-header">Posição</th>
                    <th class="table-header">Total de Jogos</th>
                    <th class="table-header">Jogos como Titular</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-row">
                    <td class="table-cel">{{ atleta.nome }}</td>
                    <td class="table-cel">{{ atleta.cpf }}</td>
                    <td class="table-cel">{{ atleta.idade }}</td>
                    <td class="table-cel">{{ atleta.altura }}</td>
                    <td class="table-cel">{{ atleta.peso }}</td>
                    <td class="table-cel">{{ atleta.clube }}</td>
                    <td class="table-cel">{{ atleta.posicao }}</td>
                    <td class="table-cel">{{ atleta.numeroTotalDeJogos }}</td>
                    <td class="table-cel">{{ atleta.numeroDeJogosComoTitular }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endif %}
{% endblock %}
